body {
    background: #F8FCFF;
}

.navbar {
    background-color: white;
}

.nav-avatar {
    height: 32px;
    width: 32px;
}

.content-section {
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    padding: 15px;
}

.add-collection {
    height: 50px;
    width: 100%;
}

.add-collection a {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    font-size: 26px;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.add-collection a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
}

.collection-empty {
    align-items: center;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.section-delete {
    color: rgba(0, 0, 0, 0.5);
}

.section-delete:hover {
    cursor: pointer;
    color: rgb(150, 0, 0);
}

.add-flashcard {
    color: rgba(0, 0, 0, 0.3);
    font-size: 32px;
}

.add-flashcard:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.collection-author {
    color: darkgray;
    text-decoration: none;
}

.collection-sidebar p {
    margin: 0;
}

.collection-sidebar p i {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.select-box {
    position: relative;
}

.options-container {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    color: rgb(56, 52, 52);
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 1;
}

.option, .selected {
    padding: 10px 20px;
}

.select-box .option .radio {
    display: none;
}

.selected {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: rgb(56, 52, 52);
    cursor: pointer;
    position: relative;
}

.selected:after{
    color: rgba(0, 0, 0, 0.8);
    content: '\f106';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    right: 20px;
    transform: rotate(180deg);
}

.select-box .option:hover,
.select-box .option label:hover {
    background: #F1FFF3;;
    border-radius: 5px;
    color: #8AD891;
    cursor: pointer;
}

.search-box {
    position: sticky;
    top: 0;
}

.search-box input {
    border: none;
    font-size: 16px;
    outline-offset: -10px;
    padding: 16px 16px;
    width: 100%;
}

.search-box input:focus {
    border-radius: 15px;
    outline: 1px solid rgba(0, 0, 0, 0.2);
}

.select-box .options-container.active {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 1px;
    width: 7px;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px 8px 8px 8px;
}

.filter-collections {
    display: none;
}

.filter-collections.active {
    display: block;
}

.collection-flashcards {
    display: none;
}

.collection-flashcards.active {
    display: block;
}

.profile-image {
    position: relative;
    overflow: hidden;
}

.profile-image img {
    height: 128px;
    width: 128px;
}

.profile-image input {
    display: none;
}

.profile-image label {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}

.profile-image:hover label {
    display: flex;
}

.game-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.game-flashcard {
    align-items: center;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    height: 50vh;
    justify-content: center;
    margin: 10px 0;
    position: relative;
    width: 80%;
}

.game-buttons {
    width: 80%;
}

.game-buttons button {
    width: 100%;
    margin: 5px;
}

.solution {
    display: none;
}

.flashcard-counter {
    left: 10px;
    position: absolute;
    color: gray;
    top: 10px;
}

.settings {
    align-self: flex-end;
    margin-right: 10%;
}


@media (max-width: 1200px) {
    .profile-image img {
        height: 90px;
        width: 90px;
    }
}


@media (max-width: 768px) {
    .collection-learn,
    .collection-sidebar {
        border: none !important;
    }

    .buttons-container {
        display: block;
        width: 100%;
    }

    .collection-buttons {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        flex-direction: row !important;
        margin-top: 20px;
        padding-top: 10px;
    }

    .collection-buttons a,
    .collection-buttons button {
        height: 40px;
        font-size: 16px;
        width: 100%;
    }

    .collection-learn a {
        width: 100%;
    }

    .visibility {
        order: 1;
    }

    .task-border-right {
        border: none !important;
    }

    .task-border-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .profile-image img {
        height: 64px;
        width: 64px;
    }

    .game-flashcard,
    .game-buttons {
        width: 100%;
    }

    .settings {
        margin: 0;
    }
}