body {
    background: #F8FCFF;
}

.navbar {
    background-color: white;
}

.nav-avatar {
    height: 32px;
    width: 32px;
}

.content-section {
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    padding: 25px;
}
