{% extends 'flashcards/base.html' %}
{% load static %}

{% block content %}
    <form>
        {% csrf_token %}

        <div class="row mb-5">
            <div class="col-md-10">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" minlength="1" maxlength="100" name="title">
            </div>
            <div class="col-md-2">
                <label class="mr-sm-2" for="visibility">Visibility</label>
                <select class="form-select" aria-label="Select visibility" id="visibility" name="visibility">
                    <option selected>Private</option>
                    <option>Public</option>
                </select>
            </div>
        </div>

        <div class="flashcards">

        </div>

        <div class="container p-0 text-center">
            <div class="add-flashcard">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>

        <div class="container p-0 text-end mt-5">
            <button class="btn btn-primary align-self-right mb-5" type="submit">Save</button>
        </div>

    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'flashcards/add.js' %}"></script>
{% endblock %}