{% extends 'flashcards/base.html' %}
{% load static %}

{% block content %}
    <form>
        {% csrf_token %}

        <div class="row mb-5">
            <div class="col-md-10">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" minlength="1" maxlength="100" name="title">
            </div>
            <div class="col-md-2">
                <label class="mr-sm-2" for="visibility">Visibility</label>
                <select class="form-select" aria-label="Select visibility" id="visibility" name="visibility">
                    <option selected>Private</option>
                    <option>Public</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 mb-2">
                    <div class="select-box mb-3">
                        <label class="text-muted">Question in</label>
                        <div class="selected selected-question">
                            Choose language
                        </div>
                        <div class="options-container question-container">
                            <div class="search-box question-search">
                                <input type="text" placeholder="Search..." >
                            </div>
                            {% for language in languages %}
                                <div class="option question-language">
                                  <input type="radio" class="radio" name="language1" id="{{ language }}1">
                                  <label for="{{ language }}1">{{ language }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <div class="col-md-6 mb-2">
                    <div class="select-box mb-3">
                        <label class="text-muted">Answer by</label>
                        <div class="selected selected-answer">
                            Choose language
                        </div>
                        <div class="options-container answer-container">
                            <div class="search-box answer-search">
                                <input type="text" placeholder="Search..." >
                            </div>
                            {% for language in languages %}
                                <div class="option answer-language">
                                  <input type="radio" class="radio" name="language2" id="{{ language }}2">
                                  <label for="{{ language }}2">{{ language }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
        <div class="flashcards">

        </div>

        <div class="container p-0 text-center">
            <div class="add-flashcard">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>

        <div class="container p-0 text-end mt-5">
            <button class="btn btn-primary align-self-right mb-5" type="submit">Save</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'flashcards/collection-form.js' %}" type="module"></script>
{% endblock %}