{% extends 'flashcards/base.html' %}
{% load static %}

{% block content %}
    <form>
        {% csrf_token %}

        <div class="row mb-5">
            <div class="col-md-10">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" minlength="1" maxlength="100" name="title">
            </div>
            <div class="col-md-2">
                <label class="mr-sm-2" for="visibility">Visibility</label>
                <select class="form-select" aria-label="Select visibility" id="visibility" name="visibility">
                    <option selected>Private</option>
                    <option>Public</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 mb-2">
                <label class="text-muted" for="language1">Question in</label>
                <select class="form-select" aria-label="Default select example" id="language1">
                  <option selected>English</option>
                  <option selected>English</option>

                </select>
            </div>
            <div class="col-md-6 mb-2">


                <div class="box">
                    <div class="select-box mb-3">
                        <label class="text-muted">Answer by</label>
                        <div class="selected">
                            Choose language
                        </div>

                        <div class="options-container">
                            <div class="search-box">
                                <input type="text" placeholder="Search..." >
                            </div>
                            <div class="option" id="option1">
                              <input type="radio" class="radio" name="language" id="english">
                              <label for="english">English</label>
                            </div>
                            <div class="option">
                              <input type="radio" class="radio" name="language" id="polish">
                              <label for="polish">Polish</label>
                            </div>
                            <div class="option">
                              <input type="radio" class="radio" name="language" id="hungarian">
                              <label for="hungarian">Hungarian</label>
                            </div>
                            <div class="option">
                              <input type="radio"class="radio" name="language" id="bulgarian">
                              <label for="bulgarian">Bulgarian</label>
                            </div>
                            <div class="option">
                              <input type="radio" class="radio" name="language" id="german">
                              <label for="german">German</label>
                            </div>
                            <div class="option">
                              <input type="radio" class="radio" name="language" id="russian">
                              <label for="russian">Russian</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flashcards">

        </div>

        <div class="container p-0 text-center">
            <div class="add-flashcard">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>

        <div class="container p-0 text-end mt-5">
            <button class="btn btn-primary align-self-right mb-5" type="submit">Save</button>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'flashcards/add.js' %}"></script>
{% endblock %}