{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="{% static 'flashcards/styles.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae0ed70008.js" crossorigin="anonymous"></script>

    <title>Flashcards</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg shadow-sm">
        <div class="container">
          {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'register' %}
            <a class="navbar-brand" href="">{{ request.resolver_match.url_name|title }}</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if request.resolver_match.url_name != 'explore' %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'explore' %}">Explore</a>
                </li>
              {% endif %}
              {% if request.resolver_match.url_name != 'library' %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'library' %}">Library</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <hr>
              </li>
            </ul>
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ user.username }}
                      <img class="nav-avatar rounded-circle border" src="{{ user.image.url }}">
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'profile' username=user.username %}">Profile</a></li>
                      <hr class="dropdown-divider">
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %} 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    <main class="container pt-5 d-flex flex-column">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mb-5" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>
</html>