{% extends 'flashcards/base.html' %}
{% load static %}

{% block content %}
    <div class="container mb-3 p-0 d-flex">
        {% if collection.author == request.user %}
            <div class="col-10">
                <button class="btn btn-lg btn-outline-dark">Learn</button>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-warning m-1" href="{% url 'edit' collection_id=collection.id %}">Edit</a>
                <button class="btn btn-sm btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
        {% else %}
            <p class="m-2">Followers:<span class="m-2" id="followers{{ collection.id }}">{{ collection.followers.count }}</span></p>
            {% if request.user in collection.followers.all %}
                <button class="btn btn-dark followButton" name="{{ collection.id }}">Following</button>
            {% else %}
                <button class="btn btn-outline-dark followButton" name="{{ collection.id }}">Follow</button>
            {% endif %}
        {% endif %}
    </div>

    <div class="row content-section">
        <div class="col-md-9 mt-2 mb-2">
            <label class="text-muted">Collection</label>
            <h2 class="m-2 display-5">{{ collection.title }}</h2>
        </div>
        <div class="col-md-3 mt-2 mb-2">
            <label class="text-muted">Created by</label>
            <div class="d-flex align-items-center mt-3 mb-3">
                <a href="{% url 'profile' username=collection.author.username %}" class="collection-author">
                    <div class="d-flex align-items-center me-3">
                        <img class="rounded-circle border" src="{{ collection.author.image.url }}" width="50px" height="50px">
                        <p class="m-0 ms-2 h4">{{ collection.author.username }}</p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <button class="btn btn-lg btn-light mb-5" id="toggle-flashcards">{{ collection.flashcards.count }} Flashcards <i class="fa-solid fa-chevron-down ms-1"></i></button>

    <div class="collection-flashcards">
        {% for flashcard in collection.flashcards.all %}
            <div class="content-section">
                <div class="section-header d-flex justify-content-between">
                    <div class="section-number">{{ forloop.counter }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex flex-column p-2 task-border-bottom">
                        <div class="p-2 d-flex justify-content-center align-items-center h5 border-end task-border-right">{{ flashcard.task }}</div>
                        <label class="text-muted align-self-end me-3">{{ flashcard.collection.language1|title }}</label>
                    </div>
                    <div class="col-md-6 d-flex flex-column p-2">
                        <div class="p-2 d-flex justify-content-center align-items-center h5">{{ flashcard.solution }}</div>
                        <label class="text-muted align-self-end me-3">{{ flashcard.collection.language2|title }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Collection with {{ collection.flashcards.count }} flashcards will be lost.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete anyway</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'flashcards/collection.js' %}" type="module"></script>
    {% if request.user != collection.author %}
        <script src="{% static 'flashcards/follow.js' %}" type="module"></script>
    {% endif %}
{% endblock %}