<button type="button" class="btn btn-light instructionsButton" data-bs-toggle="modal" data-bs-target="#instructionsModal">
    <i class="fa-solid fa-question"></i>
  </button>
  
  <div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="instructionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructionsModalLabel">What is a flashcard?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          A <b>flashcard</b> is a card bearing information on both sides, which is intended to be used as an aid in memorization. 
          Each flashcard bears a question on one side and an answer on the other.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#instructionsModal2" data-bs-toggle="modal">How to use?</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="instructionsModal2" tabindex="-1" aria-labelledby="instructionsModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructionsModalLabel2">How to use flashcards?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Flashcards exercise the mental process of <b>active recall</b>: given a prompt (the question), 
          one produces the answer. It is important to use the flashcards multiple times.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>