{% extends 'flashcards/base.html' %}
{% load static %}

{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-start">
        <a href="{% url 'collection' collection_id=collection.id %}" class="btn btn-dark rounded-circle"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 class="align-self-center h1">{{ collection.title }}</h2>
    </div>

    <div class="game-container">
        <button class="btn rounded-circle settings"><i class="fa-solid fa-gear"></i></button>

        <div class="game-flashcards">
            {% for flashcard in collection.flashcards.all %}
                <div class="game-flashcard">
                    <div class="flashcard-counter">{{ forloop.counter }} / {{ collection.flashcards.count }}</div>
                    <div class="display-5 game-task">{{ flashcard.task }}</div>
                    <div class="display-5 game-solution">{{ flashcard.solution }}</div>
                </div>
            {% endfor %}
        </div>


        <div class="d-flex justify-content-around game-buttons">
            <button class="btn btn-lg btn-outline-dark" id="prevButton">Previous</button>
            <button class="btn btn-lg btn-outline-dark" id="nextButton">Next</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'flashcards/learn.js' %}"></script>
{% endblock %}