{% extends 'flashcards/base.html' %} 

{% block content %}
    <div class="add-collection mb-5">
        <a href="{% url 'add collection' %}">Add collection</a>
    </div>

    {% for collection in collections %}
        <div class="content-section w-100 mb-3">
            <div class="row">
                <div class="collection-learn col-md-2 border-end">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <a class="btn btn-lg btn-outline-dark" href="">Learn</a>
                    </div>
                </div>
                <div class="col-md-8 p-3">
                    <div class="d-flex flex-column justify-content-between h-100 mt-3">
                        <h3 class="display-5">{{ collection.title }}</h3>
                        <div>
                            <a href="" class="collection-author">
                                <img class="rounded-circle border" src="{{ collection.author.image.url }}" width="20px" height="20px">
                                {{ collection.author.username }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collection-sidebar col-md-2 border-start">
                    <div class="d-flex flex-column align-items-center">
                        <div class="visibility align-self-end">
                            {% if collection.author == request.user %}
                                {% if collection.public %}
                                    <i class="fa-solid fa-lock-open"></i>
                                {% else %}
                                    <i class="fa-solid fa-lock"></i>
                                {% endif %}
                            {% else %}
                                <i class="fa-solid fa-copy"></i>
                            {% endif %}
                        </div>
                        <div class="buttons-container d-grid col-8 mb-2 mt-2">
                            <div class="collection-buttons d-flex flex-column justify-content-center">
                                {% if collection.author == request.user %}
                                    <a class="btn btn-sm btn-outline-warning m-1" href="">Edit</a>
                                {% else %}
                                    <button class="btn btn-sm btn-outline-danger m-1">Remove</button>
                                {% endif %}
                                <a class="btn btn-sm btn-outline-primary m-1" href="">Details</a>
                            </div>
                        </div>
                        <div>
                            {% if collection.public == True %}
                                Followers: {{ collection.followers.count }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="collection-empty">
            <h2 class="display-5">Your collection list is empty</h2>
        </div>
    {% endfor %}

    {% if collections.has_previous or collections.has_next %}
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                {% if collections.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-disabled="true">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ collections.previous_page_number }}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ collections.previous_page_number }}">{{ collections.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ collections.number }}">{{ collections.number }}</a>
                </li>

                {% if collections.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ collections.next_page_number }}">{{ collections.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ collections.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ collections.paginator.num_pages }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}